body{
    color: #484f5f;
    overflow: auto;
}


/*Take borders off the navbar*/
.navbar.navbar-default, .navbar-collapse {
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.navbar-pull{
    margin-left: 150px;
}

.test-network a{
    color: #1e7e34!important;
}

.sign-in a{
    color: #3163e1 !important;
}

.arrow-right i{
    position: relative;
    left: 170px;
    bottom: 30px;
    font: 20px;
    color: #3163e1;
}



/*Styling jumbotron*/

.header-mast{
    background-image: url(../images/header.png);
    background-repeat: no-repeat; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    margin-left: 29px;
    /* background: red; */
    
}


/*Taking off the extra spaces on the jumbotron*/
@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 0;
    padding-bottom: 48;
}
}

@media screen and (min-width: 768px){
    .jumbotron h1, .jumbotron .h1 {
        font-size: 48px;
        font-weight: bold;
    }
    }

/*input group, learn updates*/

.input-group{
    margin-top: 20px;
}

input[type=email] {
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    padding: 22px 10px 18px;
}

.subscribe-button{
    border-radius: 4px;
    background-color: #3163e1;
    padding: 11px 10px 9px;
    margin-left: 5px;
}

.learn-updates{
    margin-top:20px;
    display: inline-block;
}
    
   /*small section*/

.small-section{
    width: auto;
    height: 40px;
    background-color:#ebedf1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
    
.small-section-arrow i{
    margin-top: 18px;
    font: 20px;
    color: #484f5f;
    position: relative;
    bottom: 43px;
    left: 170px;
}

/*Partners*/

.partners{
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.partners img{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
 
p.margin-top{
    text-align: center;
}

/*opensource collaboration*/

.opensource-collaboration{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F0F3FA;
    overflow: hidden;
}

.opensource-paragraph{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px; 
    margin-right: 20px;

}

/*Cards, items*/

.cards{
    padding-top: 50px;
    padding-bottom: 50px; 
}
   
.cards p{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.cards span i{
    color: #3163e1;
    margin-left: 10px;
}

.cards h3{
    font-weight: bold;
    margin-left: 20px;
}

.cards p{
    line-height: 25px;
}

.cards img, .cards a{
    margin-left: 20px;
}


.item-1, .item-2, .item-3{
    background: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

/*download whitepaper*/

.download-whitepaper{
    overflow: hidden;
    width: auto;
    height: 250px;
    background-color: #2F77FA;  
}

.download-whitepaper p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.download-whitepaper img{
    margin-left: 100px;
    vertical-align: middle;
    margin-top: 50px;
    /* top: 10px; */
}

.download-whitepaper a{
    background: #fff;
    color: #2F77FA;
    /* width: 50px; */
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: -5px;
    text-decoration: none;
}

.download-whitepaper a:hover{
    color:#3163e1;
}

.download-whitepaper span i{
    position: relative;
    left: -20px;
    /* color: #2F77FA; */
}

/* decentralized image*/

.box img{
    position: relative;
    bottom: 320px;
    z-index: -1;
}

.decentralized-ownership-section{
    margin-top: 100px;
}

.decentralized-ownership-section h2{
    font-size: 45px;
    line-height: 54.9px;
}

.decentralized-ownership-section p{
    font-size: 19px;
    line-height: 34.2px;
}

.decentralized-ownership-section .checkbox{
    margin-top: 20px;
}

.checkbox span{
    font-size: 15px;
}


/*Decentralized git hosting*/

.decentralized-git-hosting{
    background: #F8FAFE;
    width: auto;
    height: auto;
}

.decentralized-git-hosting h2, .ellcrys-protocol h2{
    font-size: 45px;
    line-height: 54.9px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.decentralized-git-hosting p, .ellcrys-protocol p{
    font-size: 19px;
    font-size: 19px;
    /* font-weight: 500; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.decentralized-git-hosting .checkbox-div{
    margin-top: 20px;
}

.checkbox-div span{
    font-size: 15px;
}

.decentralized-git-hosting a{
    background: #2F77FA;
    color: #fff;
    /* width: 50px; */
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: -5px;
    text-decoration: none;
}

/*ellcrys-protocol*/

.ellcrys-protocol{
    background: #F1F5FA;
    width: auto;
    height: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.protocol-checkbox{
    margin-bottom: 50px;
}

.learn-more, .autonomous-functions a, .cryptocurrency-link{
    background: #2F77FA;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;

}

.learn-more:hover{
    color: #fff;
    text-decoration: none;
}

.see-docs{
    background: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    color: #000;
    text-decoration: none;
}

.see-docs:hover{
    color: #000;
    text-decoration: none;
}

.learn{
    margin-right: 30px;
}

.testnet{
    margin-top: 40px;
}

small{
    background: #28A745;
    color: #fff;
    padding: 2px 5px;
    border-radius: 20px;
}

/*Decentralized governance*/

.decentralized-governance{
    height: auto;
    width: auto;
    background: #3263DE;
    font-family: monospace;
    padding-bottom: 150px;
    margin-bottom: 150px; 
}

/*Discord card*/

.discord-card{
    background:#fff;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    margin-top: -100px;
}

.discord-card img{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}



.join-arrow{
    margin-left: 70px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.discord-card-p{
    margin-left: 90px;
}

.decentralized-governance-inner{
    color: #fff;
    margin-top: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.decentralized-governance-inner h2, .open-collaboration h2,.autonomous-functions h2 h4, .cryptocurrency h2, .community h2{
    margin-bottom: 25px;
    font-size: 45px;
    line-height: 54.9px;
}

.decentralized-governance-inner p, .open-collaboration p, .autonomous-functions p, .cryptocurrency p{
    font-size: 19px;
    line-height: 34.2px;
    margin-bottom: 25px;
}

.decentralized-governance-inner .checkbox-div, .open-collaboration .checkbox-div, .autonomous-functions .checkbox-div, .cryptocurrency .checkbox-div{
    margin-top: 20px;
    margin-bottom: 40px;
}

.decentralized-governance-inner a{
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.open-collaboration{
    margin-bottom: 150px;
}

/*autonomous functions*/

.autonomous-functions, .cryptocurrency{
    height: auto;
    width: auto;
    background: #F6F8FC;
    padding-top: 100px;
    padding-bottom: 100px;
}

.autonomous-functions .content, .cryptocurrency .content{
    margin-left: 80px; /*Added margin-left to this div to adjust the content that's moving to the left*/
}

/*Community*/

.community{
    width: auto;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

}

.community .content{
    text-align: center;
}

.span-icons{
    margin-top: 20px;
    display: block;
    font-size: 24px;

}

/*footer*/

.footer{
    width: auto;
    height: auto;
    overflow: auto;
    margin: 0 auto;
}

.footer li{
    padding: 5px;

}
 
.footer li a{
    color: #48485f;
    text-decoration: none;

}

.list-style-type ul li{
    list-style-type: none;
}

.enter-email{
    margin-left: 28px;
}

.span-icons, .span-icons i{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.form-group .subscribe-input{
    border-radius: none;
}

.subscribe-button{
    margin-left: -12px;
    border-radius: 0;
}

.span-icons i:hover{
    color: #000;
    cursor: pointer;
}

.footer .content{
    margin-left: 50px;
}

.bold, .bold li a{
    font-weight: bold;
    color: #484f5f;
}


