

/*Take borders off the navbar*/
.navbar.navbar-default, .navbar-collapse {
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.test-network a{
    color: #1e7e34!important;
}

.sign-in a{
    color: #3163e1 !important;
}

.arrow-right i{
    margin-top: 18px;
    font: 20px;
    color: #3163e1;
}



/*Styling jumbotron*/

.header-mast{
    background-image: url(../images/header.png);
    background-repeat: no-repeat; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    margin-left: 29px;
    /* background: red; */
    
}


/*Taking off the extra spaces on the jumbotron*/
@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 0;
    padding-bottom: 48;
}
}

@media screen and (min-width: 768px){
    .jumbotron h1, .jumbotron .h1 {
        font-size: 48px;
        font-weight: bold;
    }
    }

/*input group, learn updates*/

.input-group{
    margin-top: 20px;
}

input[type=email] {
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    padding: 22px 10px 18px;
}

.subscribe-button{
    border-radius: 4px;
    background-color: #3163e1;
    padding: 11px 10px 9px;
    margin-left: 5px;
}

.learn-updates{
    margin-top:20px;
    display: inline-block;
}
    
   /*small section*/

.small-section{
    width: auto;
    height: 40px;
    background-color:#ebedf1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
    
.small-section-arrow i{
    margin-top: 18px;
    font: 20px;
    color: #484f5f;
    position: relative;
    bottom: 43px;
    left: 170px;
}

/*Partners*/

.partners{
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.partners img{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
 
p.margin-top{
    text-align: center;
}

/*opensource collaboration*/

.opensource-collaboration{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F0F3FA;
    overflow: hidden;
}

.opensource-paragraph{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px; 
    margin-right: 20px;

}

/*Cards, items*/

.cards{
    padding-top: 50px;
    padding-bottom: 50px; 
}
   
.cards p{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.cards span i{
    color: #3163e1;
    margin-left: 10px;
}

.cards h3{
    font-weight: bold;
    margin-left: 20px;
}

.cards p{
    line-height: 25px;
}

.cards img, .cards a{
    margin-left: 20px;
}


.item-1, .item-2, .item-3{
    background: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

/*download whitepaper*/

.download-whitepaper{
    overflow: hidden;
    width: auto;
    height: 250px;
    background-color: #2F77FA;  
}

.download-whitepaper p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.download-whitepaper img{
    margin-left: 100px;
    vertical-align: middle;
    margin-top: 50px;
    /* top: 10px; */
}

.download-whitepaper a{
    background: #fff;
    color: #2F77FA;
    /* width: 50px; */
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: -5px;
    text-decoration: none;
}

.download-whitepaper a:hover{
    color:#3163e1;
}

.download-whitepaper span i{
    position: relative;
    left: -20px;
    /* color: #2F77FA; */
}

/* decentralized image*/

.box img{
    position: relative;
    bottom: 320px;
    z-index: -1;
}

.decentralized-ownership-section{
    margin-top: 100px;
}

.decentralized-ownership-section h2{
    font-size: 45px;
    line-height: 54.9px;
}

.decentralized-ownership-section p{
    font-size: 19px;
    line-height: 34.2px;
}


