
html,
body {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #484f5f;
  /* width: 100%; */
  /* margin: 0 auto; */
}

/* .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.page-height{
    width: 100%;
    height: 500px;
}

.page-height{
    background-color: #f5f7fb;
}

.header-mast{
    background-image: url(../images/header.png);
    background-repeat: no-repeat; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    margin-left: 29px;
    /* background: red; */
    
}

.jumbotron{
    background: transparent;
}

/*Taking off the extra spaces on the jumbotron*/
@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 0;
    padding-bottom: 48;
}
}

@media screen and (min-width: 768px){
.jumbotron h1, .jumbotron .h1 {
    font-size: 48px;
    font-weight: bold;
}
}

/*Take borders off the navbar*/
.navbar.navbar-default, .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    }
    
.test-network a{
    color: #1e7e34!important;
}

/*add margin left to Navbar pull class*/
.navbar-pull{
    margin-left: 100px;
    
}
    
.sign-in a{
    color: #3163e1 !important;
}
    
.arrow-right i{
    margin-top: 18px;
    font: 20px;
    color: #3163e1;
}

.input-group{
    margin-top: 20px;
}

input[type=email] {
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    padding: 22px 10px 18px;
}

.subscribe-button{
    border-radius: 4px;
    font-size: 14px;
    background-color: #3163e1;
    color: #fff;
    padding: 11px 10px 9px;
    margin-left: 5px;
}

.learn-updates{
    margin-top:20px;
    display: inline-block;
}

/*Small section*/
.small-section{
    width: 100%;
    height: 40px;
    background-color:#ebedf1;
    text-align: center;
    padding: 50px;
}

.arrow-right i{
    /* margin-top: 18px; */
    font: 20px;
    color: #484f5f;
    position: relative;
    bottom: 43px;
    left: 150px;
}

.partners{
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 45px 35px 30px 30px;
}

.image-partners{
    margin: 50px 0;
}

.clear-background{
    background: transparent;
}

/*Media Query for Partners*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"], .image-partners {
      width: 100%;
    }
  }

  /* .margin-top{
      margin-top: 50px;
  } */

  p.margin-top{
      text-align: center;
  }

  .content-height{
      width: 100%;
      height: 200px;
  }