body{
    width: 100%;
    height: 100%;
    color: #dee7f0;
}

/*reduce logo size*/

.logo{
    margin-right: 100px;
}

.nav-link{
    font-size: 14px;
}

/* styling the two buttons on the navbar*/

.button-right .outline-btn{
    background:  #fbfbfd;
    border: 2px solid #f5f5fa;
}

/*Styling the inception*/
/*Introducing SafeHold and form for software testers*/

.new{
    width: auto;
    height: auto;
    background-color: #0663ff;
    margin-bottom: 40px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* styling class of small */

.small{
    text-transform: uppercase;
    background: #fff;
    color: #0663ff;
    padding: 5px;
    border-radius: 5px;
}


/*get started*/
.get-started{
    width: auto;
    height: auto;
    padding-bottom: 200px;
    overflow: auto;
    background: url(../../images/bitmap.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.get-started h1{
    color: #212731;
    font-size: 48px;
}

.get-started p{
    color: #5b708b;
    font-size: 20px;
    line-height: 30px;

}

.icons{
    /* background-image: url(../../images/icons.svg); */
    background-color: #fff;
    width: auto;
    height: 158px;
    position: relative;
    bottom: 120px;
    border-radius: 8px;
}

.icons img{
    padding-top: 40px;
    /* padding-bottom: 20px; */
    display: block; 
    margin: 0 auto
}

.add-border{
    border: 1px solid;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #fff, 
      #bcc6d1
    44%,
    #fcfcfc);
    border-image-slice: 1;
}

.big-blue-background{
    background: #0663ff;
    width: auto;
    height: auto;
    padding-bottom: 700px;
}

.text-content p{
    color: #fff;
    line-height: 35px;
    font-size: 24px;
    position: relative;
    bottom: 50px;
}

.elld-btn{
    position: relative;
    bottom: 20px;
    display: block;
}

.elld-btn .button1{
    background: #fff;
    width: 209px;
    color: #0663ff;
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
}
    .elld-btn .button2{
    background: #0663ff;
    margin-bottom: 10px;
    width: 209px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 20px 60px 0 rgb(10, 46, 105, 0.08);
    padding: 10px 20px;
}

.fa-download, .fa-book-open{
    margin-right: 15px;
}
/*media query for line break on the first section*/

@media only screen and (max-width: 600px) {
    br{
        display: none;
    }
  }

  /*cli*/

  .cli{
    background: #162437;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    margin-top: 80px; 
    color: #fff;
    position: relative;
    bottom: 750px;

  }

  .cli p{
    margin-left: 50px;
  }

  .elld-client{
    padding-top: 50px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 16px;
    text-transform: uppercase;
  }


  .start-elld{
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 20px;
    padding-top: 50px;

  }

  div.elld{
    margin-left: -20px;
  }

  .elld-content p{
    background: rgba(216, 216, 216, 0.16);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 4px;
  }

  .um, .elld-account-create{
    background: #0b1627;
    padding: 20px;
    color: #c5d0df;
    margin-bottom: 20px;
  }
  .um small{
    display: block;
    font-size: 12px;
  }

  .um code, .elld-account-create code{
    line-height: 20px;
  }

  .hr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  code{
    display: block; 
    color: #c5d0df;
  }
  .elld-account{
      margin-bottom: 20px;
  }

  .features{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: rgba(216, 216, 216, 0.16);

  }

  .elld-client-btn .btn{
    background: #0663ff;
    color: #fff;
    font-size: 14px;
    position: relative;
    left: 30px;
  }

  .instruction{
    margin-top: 50px;
    position: relative;
    right: 50px;
  }
  .instruction p{
    margin-top: 10px;
    padding: 20px;
  }
.instruction small{
    margin-left: 50px;
    padding: 20px;
}

  /**/
  