body{
    width: 100%;
    height: 100%;
    color: #565a5e;
}

/*reduce logo size*/

.logo{
    margin-right: 100px;
}

.nav-link{
    font-size: 14px;
}

/* styling the two buttons on the navbar*/

.button-right .outline-btn{
    background:  #fbfbfd;
    border: 2px solid #f5f5fa;
}

/*Introducing SafeHold and form for software testers*/

.new{
    width: auto;
    height: 69px;
    background-color: #0663ff;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* styling class of small */

.small{
    text-transform: uppercase;
    background: #fff;
    color: #0663ff;
    padding: 5px;
    border-radius: 5px;
}

.section{
    width: auto;
    height: auto;
    margin-bottom: 40px

}

.register{
    margin-bottom: 40px;
}

.register h1{
    color: #0c1015;
}

.first-form{
    padding: 25px;
}

.first-section{
    background: transparent;
    border: 2px solid #eef2f9;
}

.second-section{
    /* background: ; */
    border: 2px solid #eef2f9;
}

.second-section::after{
    content: "";
    clear: both;
    display: block;
}

.aside{
    margin-top: 50px;
    padding: 25px;
}

.aside img{
    margin-bottom: 20px;
}

/*Styling the input elements*/

input[type=text], [type=number], [type=password], select, form-email {
    width: 100%;
    height: 45px !important;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .submit-form {
      width: 100%;
      margin-top: 0;
    }
  }

  .last-section{
    width: auto;
    height: auto;   
  }

  .footer-background{
      background: url(../../images/bitmap-copy-8.png);
      background-repeat: no-repeat;
      height: 283px; 
      width: auto;
      background-position: center;
      background-size: cover;
  }

  .last-section-text{
      margin-bottom: 40px;
  }

  /*Footer section*/

  .footer-section{
      width: auto;
      height: auto;
      margin-top: 70px;
  }

  .form-down{
      margin-top: 20px;
      margin-bottom: 20px;
  }

 a{
     color: inherit;
     text-decoration: none;

 }

 li{
     list-style-type: none;
 }
.footer-section p a{
    font-size: 14px;
}

 /*Placeholder*/
 ::-webkit-input-placeholder {
    font-size: 12px;
    color: #d0cdfa;
   }

   /*Placeholder ends*/

 .span-icons i{
     font-size: 25px;
     text-align: center;
     margin: 5px;

 }

 .span-icons{
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
 }

 .footer-input{
     width: 111px!important;
     height: auto;
 }

.last-section-text{
    background: url(../../images/bitmap-copy-7.png);
    background-repeat: no-repeat;
    background-position: right;

}

 
